.Card {
  padding: 2.5rem;
  margin: .5rem 0;
  border-radius: 30px;
  color: white;
  width: 45%;
  cursor: pointer; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.Card:hover {
  background-color: #781e1d !important;
}