.Leads form{
    margin:0 auto;
    width: 85%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.Leads input{
    border: 1px grey solid;
    margin: 3px;
    width: 32%;
}