.Login {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/transformerns.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login .logo {
  width: 50rem;
}

.Login .form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Login p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #781e1d;
}

.Login .form input {
  margin-bottom: 1rem;
  border-style: none;
  border-radius: 5px;
  padding: .7rem;
  font-size: 1.2rem;
  text-align: center;
  width: 20rem;
  border: 2px solid white;
}

.Login .form .button {
  border: 3px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  cursor: pointer;
  width: 12rem;
}

.Login .form .button:hover {
  background-color: white;
  color: #781e1d;
}

.Login .form .invalid {
  border-color: #781e1d;
}
