.Opportunities {
  }

.oppForm {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.oppForm label {
    width: 100%;
    font-size: 2rem;
}

 .oppForm input {
    margin-bottom: 1rem;
    border-style: none;
    border-radius: 5px;
    padding: .7rem;
    font-size: 1.2rem;
    text-align: center;
    width: 20rem;
    border: 2px solid white;
}

.oppForm h1{
    color: darkcyan;
}

.oppForm .button {
    border: 3px solid darkcyan;
    background-color: transparent;
    color: darkcyan;
    font-weight: bold;
    cursor: pointer;
    width: 17rem;
    margin-top: 14px
}

.oppForm .button:hover {
    background-color: darkcyan;
    color: white;
}

.oppForm .invalid {
    border-color: #781e1d;
}